name: Update README date

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false


      - name: Set up Git config
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

      - name: Update README date
        run: |
          TODAY=$(date +'%Y-%m-%d')
          sed -i "s/\`.*\`/*ğ™»ğšŠğšœğš ğš–ğšŠğš—ğšğšŠğš•ğš•ğš¢ ğšğš™ğšğšŠğšğšğš:* \`${TODAY}\`/" README.md

      - name: Debug Token
        env:
          TOKEN: ${{ secrets.PAT }}
        run: |
          echo "Token is ${#TOKEN} characters long"

      - name: Commit and push changes
        env:
          TOKEN: ${{ secrets.PAT }}
        run: |
          git remote set-url origin https://x-access-token:${TOKEN}@github.com/${{ github.repository }}
          git fetch origin
          if git diff --quiet; then
            echo "No changes to commit"
          else
            git add README.md
            git commit -m "chore: update README last updated date"
            git push origin HEAD:main
          fi
